.ne-xi{
    width: 100%;
}
.ne-xi .detail{
    width: 80%;
    margin: auto;
}
.ne-xi .detail h1{
    text-align: center;
    font-size: 22px;
    height: 40px;
    line-height: 40px;;
}
.ne-xi .detail h3{
    text-align: center;
    font-size: 12px;
}