.ne-xi{
    width: 100%;
}
.ne-xi .detail{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.ne-xi .detail h1{
    text-align: center;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
}
.ne-xi .detail strong{
    text-align: center;
    font-size: 12px;
    height: 50px;
    height: 50px;
    display: in
}
.ne-xi .detaillist{
    width: 60%;
    margin: auto;
}
.ne-xi .detaillist p{
    width: 100%;
    font-size: 16px;
    text-indent: 2em;
    margin-bottom: 10px;
}
.ne-xi .detaillist img{
    width: 100%;
    height: 100%;
}