.ne-xi{
    width: 100%;
    padding-bottom: 10px;
}
.ne-xi .detail{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.ne-xi .detail h1{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
}
.ne-xi .detail strong{
    text-align: center;
    font-size: 12px;
    display: inherit;
    color: #7d7a7a;
    margin-bottom: 20px;
}
.ne-xi .detaillist{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.ne-xi .detaillist p{
    width: 100%;
    font-size: 16px;
    text-indent: 2em;
    margin-bottom: 10px;
    line-height: 25px;
    font-family: 宋体;

}
.ne-xi .detaillist img{
    width: 100%;
    height: 100%;
}
.ne-xi .news_list{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
@media screen and (max-width:640px){
    .ne-xi .detaillist{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .ne-xi .detail{
        margin-top: 20px;
    }
    
}