.lx-list{width: 100%;}
.lx-Menubox{margin-bottom:80px;}
.lx-Menubox ul li{ float:left; width:23.5%;margin-right:2%;cursor: pointer;}
.lx-Menubox-bg{width: 100%;height: 190px; text-align:center;transition-duration:.5s; background:#000;}
.lx-Menubox ul li:nth-child(1) .lx-Menubox-bg{background:url(../images/lx-b1.jpg) no-repeat;background-size: 100% 100%;}
.lx-Menubox ul li:nth-child(2) .lx-Menubox-bg{background:url(../images/lx-b2.jpg) no-repeat;background-size: 100% 100%;}
.lx-Menubox ul li:nth-child(3) .lx-Menubox-bg{background:url(../images/lx-b3.jpg) no-repeat;background-size: 100% 100%;}
.lx-Menubox ul li:nth-child(4) .lx-Menubox-bg{background:url(../images/lx-b4.jpg) no-repeat;background-size: 100% 100%;}
.lx-Menubox-bg h1{ font-size:24px;color:#fff; padding-top:65px;}
.lx-Menubox-bg p{ font-size:18px;color:#fff; opacity:0.4; text-transform:uppercase; font-weight:bold; font-family:"Arial"; padding-top:5px;}
.lx-Menubox ul li:nth-child(4){margin-right:0;}
.lx-Menubox ul li:hover .lx-Menubox-bg{ background-size: 100% 100%;color:#fff; opacity:0.85}
.lx-Menubox-add{height: 180px;background: #f0f0f0;padding: 0 10px; padding-top: 50px; transition-duration:.5s;}
.lx-Menubox-add p{font-size: 15px;color: #333333;margin-bottom: 20px;}
.lx-Menubox ul li:hover .lx-Menubox-add{background:#c41c27; color:#fff;}
.lx-Menubox ul li:hover .lx-Menubox-add p{ color:#fff;}
.ewm-list{text-align: center;}
.ewm-list ul{zoom: 1;display: inline-block;}
.ewm-list ul:after{display: block;content: '';clear: both;}
.ewm-list ul li{float: left;width: 160px;margin: 0 15px;}
.ewm-list ul li img{ width:100%;}
.ewm-list ul li p{font-size: 18px;color: #333333;}

.zxzx-content-nav{zoom: 1;}
.zxzx-content-nav:after{display: block;content: '';clear: both;}
.zxzx-content-fl{float: left;width: 48%;}
.zxzx-content-fr{float: right;width: 48%;}
.zxzx-content-fl li{zoom: 1;margin-bottom: 15px;}
.zxzx-content-fl li:last-child{margin-bottom: 0;}
.zxzx-content-fl li:after{display: block;content: '';clear: both;}
.zxzx-com{width: 100%;position: relative;}
.zxzx-com input{width: 100%;height: 50px;padding-left: 20px;border: 1px solid #dddddd;font-size: 14px;color: #333333;box-sizing: border-box;}
.zxzx-name{float: left;width: 47%;}
.zxzx-company{float: right;width: 47%;}
.zxzx-yzm{width: 47%;}
.zxzx-content-fr textarea{width: 100%;height: 245px;padding: 15px 20px;border: 1px solid #dddddd;font-size: 14px;color: #333333;box-sizing: border-box;resize: none;}
.zxzx-content-fr textarea:focus{border: 1px solid #c41c27;}
.zxzx-sp:before{display: block;content: '*';color: #c41c27;position: absolute;left: 10px;top: 20px;}
.zxzx-com input:focus{border: 1px solid #c41c27;}
.yzm-img{position: absolute;right: 10px;top: 13px;}
.send-btn{text-align: center;margin-top: 65px;}
.send-btn ul{zoom: 1;display: inline-block;}
.send-btn ul:after{display: block;content: '';clear: both;}
.send-btn ul li{float: left;width: 170px;height: 40px;margin: 0 5px; background: #eee;background-size: 100% 100%;}
.send-btn ul li a{display: block;font-size: 18px;color: #333333;font-weight: bold; text-align: center;line-height: 40px;}
.acitve-hover{background: #eee !important;background-size: 100% 100% !important;}
.send-btn ul li:hover{background: #c41c27 !important;background-size: 100% 100% !important;}
.send-btn ul li:hover a{ color:#fff;}
/*閲嶈鎸夐挳input*/
.send-btn ul li input{display: block;width: 170px;height: 40px; border:none;background: #eee;background-size: 100% 100%;font-size: 18px;color: #333333;font-weight: bold; text-align: center;line-height: 40px;}
.send-btn ul input:hover{background: #c41c27 !important;background-size: 100% 100% !important;color:#fff;}

.zlxz-content{zoom: 1;}
.zlxz-content:after{display: block;content: '';clear: both;}
.zlxz-content-fl{float: left;}
.zlxz-content-fr{float: right;}
.zlxz-content-com{zoom: 1;}
.zlxz-content-com:after{display: block;content: '';clear: both;}
.fn-1{float: left;width: 640px;height: 320px;margin-right: 10px; background:#000;}
.fn-2{float: left;width: 315px;height: 320px;margin-right: 10px; background:#000;}
.fn-3{width: 315px;height: 650px; background:#000;}
.zlxz-content-img{overflow: hidden;position: relative;}
.zlxz-content-img img{width: 100%;height: 100%;transition-duration: 0.5s;}
.zlxz-content-top{margin-bottom: 10px;}
.zlxz-content-img:hover img{transform: scale(1.1); opacity:0.7;}
.zlxz-content-name{position: absolute;bottom: 0;right: 0;width: 166px;height: 60px;background: url(../images/xz-db1.png) no-repeat 100% 100%;padding-top: 10px;padding-left: 15px;box-sizing: border-box;}
.zlxz-content-name h4{font-size: 18px;color: #fff;font-weight: normal;margin-bottom: 5px;}
.zlxz-content-name p{font-size: 14px;color: #fff;font-family: arial;opacity: 0.6;}
.zlxz-content-img:hover .zlxz-content-name{background: url(../images/xz-db2.png) no-repeat 100% 100%;}

.zlxz-download ul{zoom: 1;}
.zlxz-download ul:after{display: block;content: '';clear: both;}
.zlxz-download ul li{float: left;width: 48%;margin-right: 4%;margin-bottom: 50px;}
.zlxz-download ul li:nth-child(2n){margin-right: 0;}
.zlxz-download-img{width: 100%;overflow: hidden;}
.zlxz-download-img img{width: 100%;transition-duration: 0.5s;}
.zlxz-download ul li:hover .zlxz-download-img img{transform: scale(1.1);}
.zlxz-download-name{zoom: 1;padding: 10px;}
.zlxz-download-name:after{display: block;content: '';clear: both;}
.zlxz-download-name p{float: left;font-size: 20px;color: #333333;width: 80%;}
.zlxz-download-name span{float: right;}
.zlxz-download ul li:hover p{color: #cb1421;}



.zlxz-content .plist li{ width:48%; float:left}
.zlxz-content .zz-img{ position:relative; padding:0 0 48% 0;}
.zlxz-content .zz-img img{ width:100%; height:100%; position:absolute; top:0; left:0;}
.zlxz-content .plist li p{background: url(../images/down1.png) no-repeat 98% center;}
.zlxz-content .plist li:hover p{ background:url(../images/down2.png) no-repeat 98% center #bf0304; color:#fff;  }
.zlxz-content .plist li:nth-child(3n){ margin-right:2%}
.zlxz-content .plist li:nth-child(2n){ margin-right:0}
.ne-sp-list dl{ float:left;width: 32.33333333%; margin-right:1%; margin-bottom:30px;}
.ne-sp-list dl dt{ position:relative; padding-bottom:75%; overflow:hidden}
.ne-sp-list dl dt img{ position:absolute; top:0; left:0; width:100%; height:100%; display:block; transition-duration:.5s;}
.ne-sp-list dl dd{padding: 20px;  background:url(../images/sp-bg01.jpg) no-repeat 96% center #ecf1f4; font-size:18px; transition-duration:.5s;}
.ne-sp-list dl:hover dd{background:url(../images/sp-bg02.jpg) no-repeat 96% center #da2d27; color:#fff;}
.sp-aniu{position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    transition: all 0.5s ease;
    background: rgba(0,0,0,.33);
    overflow: hidden;}
.ne-sp-list dl:hover dt .sp-aniu{ top:0;}
.ne-sp-list dl dt .sp-aniu img{ width:auto; height:auto; position:absolute; top:0; left:0; bottom:0; right:0; margin:auto;}
.lx-list .for{
	width: 40%;
    margin: 40px auto 10px;
}
.lx-list .for .f{
	width: 100%;
	margin: auto;
	border-left: 2px solid #FFD800;
}
.lx-list .for .f p:nth-child(1){
	font-size: 40px;
	color: #000;
	font-weight: 600;
	margin-left: 10px;
}
.lx-list .for .f p:nth-child(2){
	font-size: 25px;
	margin-left: 10px;
}
.lx-list .for .serviceform{
	margin-top: 30px;
	width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.lx-list .for .serviceform input{
	width: 100%;
	margin: auto;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #a7a7a7;
    padding: 0 15px;
    box-sizing: border-box;
    outline: none;
    margin-top: 20px;
    font-size: 18px;
}
.lx-list .for .serviceform button{
	display: block;
    width: 120px;
    height: 40px;
    background: #ffd800;
    border-radius: 20px;
    color: white;
    outline: none;
    border: none;
    margin: 20px auto;
    font-size: 18px;
}
.serviceus {
	width: 100%;
    background: #FFD800;
    margin-top: 40px;
}
.serc {
    width: 100%;
    margin: 15px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.serc ul {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
}
.serc ul li {
    width: 100%;
    font-size: 20px;
    color: #434343;
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
    line-height: 47px;
}
.serc ul li img {
    width: 46px;
    height: 44px;
    margin-right: 15px;
}	

.info-top{
	background-color: #fff;
	position: relative;
	margin-bottom: 10px;
}
.info-top img{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 14px;
	cursor: pointer;
}
.bottom-center,.amap-info-contentContainer{
	padding: 10px;
	background-color: #fff;
}
.info-bottom{
	left: 147px !important;
	position: absolute !important;
	top: 152px !important;
}
.footer {
    width: 100%;
    /* height: 250px; */
    background: #fcd634;
    display: flex;
    flex-flow: row wrap;
    /* margin-top: 18px; */
}
.bottom {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    /* flex-flow: row wrap; */
    padding: 0 10%;
    /* flex-direction: column; */
}
.bottom i {
    /* display: block;
    width: 15%; */
}
/* .bottom i img {
    margin-top: 30px;
} */
.bottom .left{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.bottom .left b{
    width: 100%;
    height: 2px;
    background: #fff;
}
.bottom .left .pinpai{
    width: 100%;
    height: 40px;
    line-height: 40px;
    /* background: #fff; */
}
.bottom .left .pinpai li{
    width: 14%;
    text-align: center;
}
.bottom .left .pinpai li a{
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.bottom .left ul {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-flow: row wrap;
}
.bottom .left ul li {
    width: 14%;
    text-align: center;
}
.bottom .left ul li a{
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.bottom ul li dl {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.bottom ul li dl dd {
    width: 100%;
    font-weight: bold;
}
.bottom ul li a {
    color: black;
}
.bottom ul li dl dt {
    width: 100%;
}
.bottom ul li a {
    color: black;
}
.bott {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.bott div {
    width: 48%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.bott div p {
    width: 100%;
}	
.bott div p img {
    width: 50px;
    height: 50px;
}
.bott div span {
    display: block;
    width: 100%;
}
.bott div span img {
    width: 100px;
    height: 100px;
}
.copy {
    width: 1200px;
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 40px;
    font-size: 14px;
	padding-bottom: 30px;
}
@media screen and (max-width:992px){
	.lx-Menubox ul li{ width:100%;}
	.lx-Menubox-add{ height:auto; padding:20px;}
	.lx-Menubox{ margin-bottom:20px;}
	.ewm-list ul li{ width:33%; text-align:center; margin:0;}
	.zxzx-content-fl,.zxzx-content-fr{ width:100%; margin-bottom:10px;}
	.send-btn{ margin-top:20px;}
	.fn-1,.fn-2,.fn-3{ width:100%; height:auto;}
	.zlxz-content-fr,.zlxz-content .plist li{ width:100%;}
	.ne-sp-list dl{ width:49%;}
	.ne-sp-list dl dd{ padding:10px; font-size:16px;}
	}
	
	@media screen and (max-width:750px){
		.lx-list .for{
			width: 100%;
		}
	}