@media screen and (max-width: 500px){
    #logo {
        float: left;
        width: auto;
        width: 202px;
        padding: 10px 15px 0 2px;
        position: relative;
    }
    .head .nav ul li {
        float: left;
        position: relative;
        box-sizing: border-box;
        z-index: 2;
        padding: 2px 16px;
    }
    .gongsijianjie b{
        /* display: block; */
        margin-left: -150px;

    }
    .hezuo_list .list ul li {
        width: 44%;
        float: left;
        margin-left: 1%;
        padding: 10px;
        background: #f5f5f5;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:640px){
    .bott{
       width: 100%; 
    }
    .bottom ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
    }
    .bottom ul li {
        width: 100%;
        float: left;
        text-align: center;
        line-height: 30px;
    }
    
    .bottom ul li dl {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
    }
    .bottom ul li dl dd {
        width: 100%;
        font-weight: bold;
        text-align: -webkit-left;
    }
    .bottom ul li dl dt {
        width: 28%;
        text-align: -webkit-left;
    }

    .product ul li {
        width: 49%;
        height: 180px;
        text-align: center;
        margin-top: 15px;
        box-shadow: 2px 2px 10px #f5f5f5;
    }
    .head .nav ul li {
        float: left;
        position: relative;
        box-sizing: border-box;
        z-index: 2;
        padding: 2px 25px !important;
    }
    .gongsijianjie b{
        /* display: block; */
        margin-left: -150px;

    }
    .zhichi ul li{
        width: 48% !important; 
    }
    .product ul li {
        width: 48% !important;
        height: 180px;
        text-align: center;
        margin-top: 15px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        overflow: hidden;
    }
    .news2 li {
        padding: 0 15px 0 0;
        margin-bottom: 15px;
    }
    .news2 li .time {
        width: 20%;
        text-align: center;
    }
    .news2 li .neir {
        width: 70%;
        float: left;
        border-left: 1px solid #e6e6e6;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .news2 li .pic {
        display: none;
    }
    .news3 li {
        padding: 0 15px 0 0;
        margin-bottom: 15px;
    }
    .news3 li .time {
        width: 20%;
        text-align: center;
    }
    .news3 li .neir {
        width: 70%;
        float: left;
        border-left: 1px solid #e6e6e6;
        padding-left: 15px;
        padding-bottom: 15px;
    }
    .news3 li .pic {
        display: none;
    }

    .mobile-in-zhanlue {
        width: 100%;
        margin: auto;
        margin-bottom: 520px;
    }
    .zhichi{
        width: 100%;
    }
    .zhichi p {
        width: 100%;
        margin: auto;
        /* margin-bottom: 520px; */
        padding-top: 70px;
        margin: auto;
    }

    .zhichi ul {
        width: 100%;
    }

    .zhichi ul li {
        width:48%;
        float: left;
        margin-left: 1%;
        margin-bottom: 10px;
    }

    .zhichi ul li img {
        width: 100%;
    }
    
    
}
@media screen and (max-width:1160px){
    .t-t01 {
        width: 60%;
    }
    
}
@media screen and (max-width: 992px){
    .news2 li {
        padding: 0 15px 0 0;
        margin-bottom: 15px;
    }
    .news3 li {
        padding: 0 15px 0 0;
        margin-bottom: 15px;
    }
    .head {
        display: block;
    }
    .head .nav ul li {
        float: left;
        position: relative;
        box-sizing: border-box;
        z-index: 2;
        padding: 2px 42px;
    }

}